# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Escape Characters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) Booleans <br>
5) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) syntax <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) truth tree <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) and/or <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) elif <br>
 &nbsp;&nbsp;&nbsp;&nbsp; 3) else <br>
6) <b>In-Class Exercise #2</b> <br>
7) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
8) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
9) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
10) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>

### Int & Float Assignments

##### Assigning int

In [5]:
# variable_name = value

my_integer = 5

print(my_integer)
print(type(my_integer))

##### Assinging float

In [6]:
my_float_number = 5.67

print(my_float_number)
print(type(my_float_number))

5.67
<class 'float'>

In [ ]:
# The deciman (.) is what tells python to make a float

another_number = 5.
print(type(another_number))
print(another_number)

#### Performing Calculations on ints and floats

##### Addition

In [9]:
#use + operator
num1 = 12.
num2 = 4

#add int + int => int
# float + float => float
#float + int => float

result = num1 + num2
print(result)
print(type(result))

16.0
<class 'float'>

In [10]:
result += 10
print(result)

26.0

##### Subtraction

In [14]:
#use ( - ) operator

result_diff = num1 - num2
print(result_diff)

8.0

In [15]:
# -= assignment operator
result_diff -= 4
print(result_diff)

4.0

##### Multiplication

In [16]:
# use * to multiply

result_prod = num1 * num2
print(result_prod)

48.0

In [17]:
# *= 
result_prod *= 2
print(result_prod)

96.0

##### Division

In [21]:
# use forward slash /
#ALWAYS RESULT IN FLOAT
num3 = 50
num4 = 5

result_div = num3 / num4


print(result_div)
print(type(result_div))

10.0
<class 'float'>

In [28]:
#assignment operator /=

result_div /= 2 #result_div = result_div / 2
print(result_div)

result_floor = 15 // 4
print(result_floor)

0.3125
3

In [29]:
# //= assignment operator

result_floor //=2
print(result_floor)

1

##### Floor Division

In [26]:
# Sometimes also referred to as Integer Division

#Floor is defined as highest integer that is less than or equal to value

result_normal = 15 / 4
print(result_normal)

#Use the double slash for floor (//)
result_floor = 15 // 4
print(result_floor)

3.75
3

##### Modulo

In [33]:
# uses the % operator
#return remainder of division problem

num5 = 48
num6 = 5
print(num5 / num6)
result_mod = num5 % num6
print(result_mod)

9.6
3

In [35]:
# %=
result_mod %= 2
print(result_mod)

1

##### Exponential

In [36]:
# Uses ** for exponents

num7 = 5
num8 = 3

cubed = num7 ** num8
print(cubed)

125

In [37]:
cubed **= 2

print(cubed)

15625

### String Input-Output

##### String Assignment

In [39]:
# variable_name = 'string'  '' or ""

name1 = "Brian"
print(name1)
print(type(name1))

Brian
<class 'str'>

In [40]:
name2 = 'Stanton'
print(name2)
print(type(name2))

Stanton
<class 'str'>

In [ ]:
wrong = astring #needs ''or "" otherwise thinks variable

In [42]:
contraction1 = "You can't do that"
contraction2 = 'you can't do that'
print(contraction1)
print(contraction2)

SyntaxError: unterminated string literal (detected at line 2) (376046581.py, line 2)

##### Escape Characters

In [45]:
# backslash - read the next character literally
contraction3 = 'you can\'t do that'

print(contraction3)

you can't do that

In [48]:
quote1 = 'he said, "hello, how are you?"'
quote2 = "he said, 'Hello, how are you?'"
quote3 = "He said \"Hello, how are you?\""
print(quote1)
print(quote2)
print(quote3)

he said, "hello, how are you?"
he said, 'Hello, how are you?'
He said "Hello, how are you?"

In [51]:
# Backslash allows us to write a string on multiple lines but still read as one line

print('Hello
      how are you')

SyntaxError: unterminated string literal (detected at line 3) (3306519045.py, line 3)

In [50]:
print('Hello \
how are you')

Hello how are you

In [53]:
# \n => new line characters

new_string = "hello\n My name is William"
print(new_string)

hello
 My name is William

In [54]:
# \t => tabbing
tabbed = 'Hello \tWorld'
print(tabbed)

Hello 	World

In [55]:
letter = 'Dear friend,\n\tI hope you are doing well.'
print(letter)

Dear friend,
	I hope you are doing well.

In [57]:
### Triple Quoted string
# Strings that start and and with ### (single or double)
# reads line spacing literally
# can use "" OR ''

multiline = """This is the first line
This is the second line
and this is the final line"""
print (multiline)

This is the first line
This is the second line
and this is the final line

In [59]:
# Raw String - starts with r before the quotation marks(r'' or r"")
#reads string literally - no special characters

raw_letter = r'Dear friend,\n\tI hope you are doing well.'
print(raw_letter)

Dear friend,\n\tI hope you are doing well.

In [60]:
# \b - backspace
my_example_text = 'cat\b'
print(my_example_text)

cat

In [61]:
string_number = '123'
print(string_number)
print(type(string_number))

123
<class 'str'>

##### String Concatenation

In [63]:
first_name = "John"
last_name = "Smith"

# (+) operator between strings => return NEW string with two strings concatonated together

fullname = first_name + ' ' + last_name
print(fullname)

# += works for strings too
fullname += ', Jr.' #full_name = full_name + ', Jr'

John Smith

In [65]:
num_a = 10
num_b = '10'
num_c = num_a + num_b

print(num_c)

#needs to convert type

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
numa = '10'
numb = 10
numc = numa + numb
print(numc)

TypeError: can only concatenate str (not "int") to str

##### Type Conversion

In [69]:
print(num_a, type(num_b))
print(num_b, type(num_a))

10 <class 'str'>
10 <class 'int'>

In [70]:
#to convert, pass value into built-in type function (usually name of clas) -> will return a new object
#str for strings, int for integers, float for floats

num_a_as_int = int(num_a)
print(num_a_as_int)
print(type(num_a_as_int))

10
<class 'int'>

In [ ]:
num_c = int(num_a) + num_b 
print(num_a_as_int) 
print(type(num_a_as_int))

In [ ]:
cit = 'Chicago'
int(cit)

In [73]:
some_val = '123'
int(some_val)
print(some_val)

ValueError: invalid literal for int() with base 10: '123.45'

In [ ]:
float(some_val)

In [ ]:
num_d = num_a + str(num_b) 
print(num_d)

num_c = int(num_a) + num_b
print(num_a_as_int)
print(type(num_a_as_int))

##### .format() and f-strings

In [74]:
help(str.format) #python built in help

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [76]:
first = 'Brian'
last = "stanton"
city = "chicago"

my_info = "Hello, my name is {} {} and I am from {}" .format(first, last, city)
print(my_info)

Hello, my name is Brian stanton and I am from chicago

In [78]:
age = 44
# f-string - another way of formatting a string -> uses curly braces with variable name in them
#and a lowercase f before the string

my_info2 = f"Hello, my name is {first} {last} and I am {age} from {city}"
print(my_info2)

Hello, my name is Brian stanton and I am 44 from chicago

In [80]:
# .format and f-string allow us to format our string

my_info3 = f"hello I am {first.upper()} and in 4 years I will be {age + 4} years old"
print(my_info3)

my_info4 = "Hello I am {} and in 4 years I will be {} years old" .format(first.upper(), age + 4)
print(my_info4)

hello I am BRIAN and in 4 years I will be 48 years old
Hello I am BRIAN and in 4 years I will be 48 years old

##### Old Way (python 2)

In [82]:
print("Hello my name is %s and I am from %s" %(first, city))

Hello my name is Brian and I am from chicago

In [83]:
result = 10+5
print("the result is %i" %result)

the result is 15

# In-Class Exercise 1 <br>
<p>Increase the year by 1 and then print out the following statement using type conversion and a formatted string</p>

In [96]:
#OUTPUT:  I drive a blue 2023 Ford Focus.
color = 'blue'
make = 'Ford'
year = '2022'
model = 'Focus'

my_car = f"I have a {color} {int(year) +1} {make} {model}"

print(my_car)

I have a blue 2023 Ford Focus

In [99]:
my_car2 ="I drive a {} {} {} {}" .format(color, int(year) +1, make, model)
print(my_car2)

I drive a blue 2023 Ford Focus

### Booleans

In [100]:
bool_true = True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

In [101]:
bool_false = False #Needs capitals
print(bool_false)
print(type(bool_false))

False
<class 'bool'>

### If Statements

In [102]:
# if <expression>:     <expression must result in boolean (T/F) or object with truthy/falsy>
#     <statement>

#INDENTATION MATTERS!!!! All lines that are indented under the if statement will only run if expression True

if True:
    print('Hello this is a statement that is being run because the if evaluated to True')

Hello this is a statement that is being run because the if evaluated to True

In [ ]:
if False:
    print("hello how are you?")

In [104]:
print('Start Code...')

if False:  #if True: => will make it work
    print("hello")
    print('How are you?')
    
print('end code....""')

Start Code...
end code....""

In [107]:
# Available operators: Greater(>), Less(<), Equal(==)
# Greater or Equal(>=), Less or Equal (<=), Not Equal (!=)

num1 = 10
num2 = 5
num3 = 2

print(num1 > num2)
print(num2 < num3)
print(num1 == num2 *num3)
print(num1 >= num2*num3)
print(num1 != num2 * num3)

True
False
True
True
False

In [110]:
if num1 > num2:
    print(f'{num1} is greater than {num2}')
if num2 < num3:
    print(f'{num2} is less than {num3}')

if num1 >= num2*num3:
    print(f'{num1} is greater than or equal to {num2} times {num3}')

10 is greater than 5
10 is greater than or equal to 5 times 2

## Using 'and'/'or' with If Statements

In [111]:
# Truth Tree:
# T and T = T
# T and F = F
# F and F = F
# T or T = T
# T or F = T
# F or F = F

#true tree tp OR:
# T or T = T
#T or F = T
#F or T = T
#F or F = F

potential_candidate_gpa = 4.0
potential_cadidate_act = 36

#only pass through students who have at least a 2.5 GPA OR at least a 25 ACT

if potential_candidate_gpa >= 2.5 or potential_cadidate_act >=25:
    print('student meets minimum requirements - moving them along')
else:
    print("reject student")

student meets minimum requirements - moving them along

In [ ]:
#True tree for AND:
#T and T = T
#T and F = F
#F and T = F
#F and F = F

potential_candidate_gpa = 2.0
potential_candiate_act = 10

#only pass through students who have at least a 2.4 GPA AND at least 25 ACT

if potential_candidate_gpa >= 2.5 and potential_candiate_act >=25:
    print('student meets minimum requirements')
else:
    print('reject student')

In [113]:
number = 2
if number == 1 or 5:
    print("the number is 1 or 5")
else:
    print(f"Not 1 or 5 it is actually {number}")

the number is 1 or 5

### Else Statements

In [ ]:
# An else statement runs when the if statement above it evaluates to False
age = 55

if age >=35:
    print("You are eligable to run for president")
if age >= 18:
    print("you are eligable to vote")
else:
    print("You are still too young to vote")

### Elif Statements

In [123]:
# An elif only runs when the if (or elif) directly above it evaluates to False

#pretend checking tickets at movie theater for an R-rated movie
#if movie goer is < 18, Just say thanks and enjoy the show
#if the movie goer is > 14, check if they have parent with them, can see if so
#no movie goes under 14 or 18 without parent

#rules for entry
required_age = 18
with_parent_age = 14

#customer info
movie_goer_age = 10
has_parent = True

if movie_goer_age >= required_age:
    print("thanks and enjoy show")
elif movie_goer_age >= with_parent_age and has_parent:
    print("cool, enjoy movie with folks")
elif movie_goer_age >= with_parent_age and not has_parent:
    print("you are old enough with parent, but I don't see one")
else:
    print("You can't see movie until older")

You can't see movie until older

### In-Class Exercise 2 <br>
<p>Write a program that will check a person's age and adjust the ticket price. Regular ticket price is $10. Seniors (65+) get 25 percent off and children (under 0-9) are half off. Print out the ticket price at the end</p>


person_age = 33


if person_age >=8 and person_age <= 72:
    print("Your ticket is $10")
elif person_age <=8:
    print("Your ticket is $5.00")
else:
    print("your ticket is $7.50")

In [132]:
person_age = 77

#print(f"your ticket is {ticket........})

if person_age >=9 and person_age <= 65:
    print("Your ticket is  $10")
elif person_age <=8:
    print("Your ticket is $5.00")
    
else:
    print("your ticket is $7.50")
    
#example
if person_age >= 65:
    ticket *= .75
    
elif person_age <10:
    ticket *=.5

print(f"your ticket is ${ticket:2f}")

your ticket is $7.50

###LISTS

##### Declaring Lists

In [133]:
#ORDER COLLECTION OF DATA; indexable; mutable; iterable elements of the list can be any data type

list_1 = [] #empty list declaration
print(list_1)
print(type(list_1))

[]
<class 'list'>

In [136]:
names = ['mike', 'colleen', 'amanda', 'jack', 'will', 'hannah']
print(names)
print(type(names))

['mike', 'colleen', 'amanda', 'jack', 'will', 'hannah']
<class 'list'>

##### Indexing a List

In [143]:
names = ['mike', 'colleen', 'amanda', 'jack', 'will', 'hannah']
# [start: stop: step] 
#0-bsae index (indicies of a list will always be from 0=> list length-1)
#makes a copy, original list is uneffected
#start is inclusive, stop is exclusive

#single element - list_var[index]
print(names[3])

#negative numbers start from back of list

print(names[-2])

#slice the list from the 1 index to the end of list (lease stop empty)

print(names[1:]) #start

#slice list from [1] up to, but not including 5 index
print(names[1:5])

#slice from beginning of string, up to but not including certain index

print(names[:4]) #up to, but not including

#slice whole list - an easy way to make copy of list

print(names[:]) #makes copy - slice whole list

#slice every other element in list - use step

print(names[::2])

#negative steps will walk backwards through list - an easy way to reverse list

print(names[::-1])

#combos
print(names[1:5:2])

jack
will
['colleen', 'amanda', 'jack', 'will', 'hannah']
['colleen', 'amanda', 'jack', 'will']
['mike', 'colleen', 'amanda', 'jack']
['mike', 'colleen', 'amanda', 'jack', 'will', 'hannah']
['mike', 'amanda', 'will']
['hannah', 'will', 'jack', 'amanda', 'colleen', 'mike']
['colleen', 'jack']

In [144]:
#lists are mutable - can change values using item assignment
#item assignment - list_var[index] = value

print(names)
names[3] = "johnathan"
print(names)

['mike', 'colleen', 'amanda', 'jack', 'will', 'hannah']
['mike', 'colleen', 'amanda', 'johnathan', 'will', 'hannah']

In [145]:
#strings are IMMUTABLE
my_string = "hello world"
print(my_string)

print(my_string[0])

my_string[0] = '3'
print(my_string)

hello world
h

TypeError: 'str' object does not support item assignment

##### .append()

In [146]:
# adding value to end of list:  list_var.append(value) => addvalue to end of list
print(names)
names.append("Julio")
print(names)

['mike', 'colleen', 'amanda', 'johnathan', 'will', 'hannah']
['mike', 'colleen', 'amanda', 'johnathan', 'will', 'hannah', 'Julio']

##### .insert()

In [147]:
# list_var.insert(index,value) -> add value at index and shift everything to the right 1 index

print(names)
names.insert(2,'Samantha')
print(names)

['mike', 'colleen', 'amanda', 'johnathan', 'will', 'hannah', 'Julio']
['mike', 'colleen', 'Samantha', 'amanda', 'johnathan', 'will', 'hannah', 'Julio']

##### .pop()

In [148]:
#list_var.pop() -> if no argument, pop removes AND returns last element of a list

# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

print(names)

last_element = names.pop()

print(names)
print(last_element)

['mike', 'colleen', 'Samantha', 'amanda', 'johnathan', 'will', 'hannah', 'Julio']
['mike', 'colleen', 'Samantha', 'amanda', 'johnathan', 'will', 'hannah']
Julio

In [149]:
# list_var.pop(index) -> will remove the element at index and return that item

second_element = names.pop(1)
print(names)
print(second_element)

['mike', 'Samantha', 'amanda', 'johnathan', 'will', 'hannah']
colleen


##### .remove()

In [150]:
#list_var.remove(value) -> value to be removed, not index - will remove the first instance of that value
# value to be removed , not index

names.remove('jonathan')
print(names)

ValueError: list.remove(x): x not in list

nums_list = [1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5,5]
nums_list.remove(2)
print(nums_list)

In [152]:
nums_list = [1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5,5] 
nums_list.remove(2)
print(nums_list)

[1, 1, 1, 2, 3, 3, 3, 3, 4, 4, 4, 5, 5, 5, 5, 5]

In [ ]:
### del()

In [153]:
# index to be removed, not value
# BE CAREFUL with del, can cause indexing errors if not used carefully

print(names)
del names[1]
print(names)

['mike', 'Samantha', 'amanda', 'johnathan', 'will', 'hannah']
['mike', 'amanda', 'johnathan', 'will', 'hannah']

##### Concatenating Two Lists

In [154]:
# (+) operator between two lists
# will append two lists together, not add up the elements in each list

list_a = [1,2,3,4]
list_b = [5,6,7,8]
list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#list can hold any datatype
#Recommended to only store one datatype in a list

list_of_strings = ['a','b','c']
list_of_int = [1,2,3,4]
list_of_floats = [1.23, 5.32, 5.23]
list_of_bools = [True, True, False, False]
list_of_all = ['a', 1, 3.21, True]

##### Lists Within Lists

In [155]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

list_of_lists = [[1,2,3], [4,5,6], [7,8,9]]
print(list_of_lists)
for item in list_of_lists:
    print(type(item))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
<class 'list'>
<class 'list'>

In [157]:
list_of_lists[1][1]

5

### For Loops

In [158]:
# for <keyword> in <iterable>:
#     <statement>
print('Begin Code...')
nums = [5,10,15,20,25]
for element in nums:
    print(element)
    
print("end loop")

Begin Code...
5
10
15
20
25
end loop

In [161]:
colors = ['red', 'orange', 'yellow', 'green', 'blue']

for c in colors:
    print(f"my favorite color is {c}")

my favorite color is red
my favorite color is orange
my favorite color is yellow
my favorite color is green
my favorite color is blue

In [163]:
for color in colors:
    print(color)
    print('print')
print('hello')

red
print
orange
print
yellow
print
green
print
blue
print
hello

In [164]:
#strings are iterable
my_string = "hello world"
for letter in my_string:
    print(letter)

h
e
l
l
o

w
o
r
l
d

##### Continue Statement

In [166]:
list_to_use = [10,20,30,40,50,60,70,80,100]

In [170]:
# will continue to next iteration *skip all code after it in the code block and go to next iteration

for element in list_to_use:
    if element == 50:
        continue
    
    print(element)
    print('hello')
    print(f'the value of element is {element}')

10
hello
the value of element is 10
20
hello
the value of element is 20
30
hello
the value of element is 30
40
hello
the value of element is 40
60
hello
the value of element is 60
70
hello
the value of element is 70
80
hello
the value of element is 80
100
hello
the value of element is 100

##### Break Statement

In [ ]:
# will break out of current loop

In [172]:
for element in list_to_use:
    if element == 50:
        break
    
    print(element)
    print('hello')
    print(f'the value of element is {element}')
    
print('loop has been terminated')

10
hello
the value of element is 10
20
hello
the value of element is 20
30
hello
the value of element is 30
40
hello
the value of element is 40
loop has been terminated

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [173]:

for num in list_to_use:
    #do something here - implement in future
    pass
print(list_to_use)

[10, 20, 30, 40, 50, 60, 70, 80, 100]

##### Nested/Double For Loops

In [174]:
a_list = [1,2,3]

for num1 in a_list:
    for num2 in a_list:
        print(num1,num2)
#careful- exponential - try to avoid nested for loops

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

### While Loops

In [175]:
from random import randint #import random modules - later

In [183]:
# while <conditional>:  on boolean
#     <statement to run while condition is true>

from random import randint #import random modules - later

random_number = randint(1,10)
print(random_number)

9

In [188]:
random_number = randint(1,10)
print(f'The starting random number: {random_number}')
while random_number != 5:
    print(random_number)
    random_number = randint(1,10)
print(f'The final result: {random_number}')

The starting random number: 1
1
8
8
2
3
7
10
1
3
9
9
1
9
10
6
8
4
6
6
4
4
9
8
The final result: 5

##### Looping 'While True'

In [189]:
while True:
    ask = input('What would you like to do? ')
    if ask == 'quit':
        break
    else:
        print(f'You want to {ask}')

What would you like to do? eat
You want to eat
What would you like to do? play
You want to play
What would you like to do? quit

### Built-In Functions

##### input()

In [190]:
# input(question) => ALWAYS RETURNS A STRING
response = input('What is your name? ')
print(response)

What is your name? William
William

In [191]:
age = input('How old are you?')
print(f'You are {age} years old ') #ALWAYS RETURNS A STRING

How old are you?3
You are 3 years old

##### range()

In [196]:
#Start, Stop, Step 
#create range functoin
my_range= range(10)
print(my_range)

range(0, 10)

In [198]:
for value in my_range:
    print(value)

0
1
2
3
4
5
6
7
8
9

In [199]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [200]:
for num in range(10,50,5):
    print(num)

10
15
20
25
30
35
40
45

##### len()

In [192]:
# check Length of variable
some_list = [1,2,43,23,2342,3,2,42]
length_of_list = len(some_list)
print(length_of_list)

8

In [193]:
some_word = "woding temple"
print(len(some_word))

13

##### help()

In [195]:
# Use this function to view more info about a python function (With a DOCSTRING)

help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

##### Looping Through Lists

In [207]:
# two ways to loop through a list, using range for index and in for values
print(names)
print(len(names))

print('-'*40)
# Loop with a for loop (By Index)
for i in range(len(names)):
    print(i,names[i])
    
# Loop with a for loop (Using the 'in' keyword)

for x in names:
    print(x)

['mike', 'amanda', 'johnathan', 'will', 'hannah']
5
----------------------------------------
0 mike
1 amanda
2 johnathan
3 will
4 hannah
mike
amanda
johnathan
will
hannah

##### isinstance()

In [208]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)
#return boolean on if the variable is an instance of type

print(isinstance(10,int))
print(isinstance(10,str))
print(isinstance('10',str))
print(isinstance('10',int))

True
False
True
False

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [215]:
#what kind of loop?  Break. print all cubed values from 0-1000
numbers = range(1,100)
result = 0
for i in numbers:
    result = i**3
    if result >= 1000:
        break
    print(i**3)
print(result)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [ ]:
#prime number, number divisible by 1 and itself
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
        #if we get through entire for loop without break

if 10>1000:
    print('hello')
else:
    print('goodbye')

In [ ]:
for x in range(10):
    if x == 5:
        print("hello")
        break
else:
    print('goodbye')
    
    #nested loop. if x in blank -> run through all numbers(2-num) to see if divisible

In [ ]:

#iterate through 1-100, if i / x-in-list -> no prime

In [228]:
#Exercise 2 answer-code


for i in range(0,100):
    if i > 1:
        for num in range(2,i):
            if (i % num) == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [236]:
# age = input(how old are you?)  from user and print out age group, kids, adults, seniors
#note: input always returns string, need to reassign to int

user_age = input('Enter your age: ')
age_int = int(user_age)

if (age_int >= 18) and (age_int <= 65):
    print("You are an adult")
elif age_int <= 18:
    print('You are a Child')
else:
    print("seniors")

Enter your age: 78
seniors